<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ssm.dufy.dao.EquimentDao" >
  <resultMap id="BaseResultMap" type="org.ssm.dufy.entity.EquimentInfo" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="EQUIMENT_NAME" property="equimentName" jdbcType="VARCHAR" />
    <result column="MODUBUS_ADDRESS" property="modubusAdress" jdbcType="VARCHAR" />
    <result column="DELETEFLAG" property="deleteFlag" jdbcType="VARCHAR" />
  </resultMap>
  		<sql id="Base_Column_List">
				ID, EQUIMENT_NAME, MODUBUS_ADDRESS, DELETEFLAG
		</sql>
		<select id="findEquimentInfo" resultMap="BaseResultMap" parameterType="org.ssm.dufy.entity.EquimentInfo">
				select
				<include refid="Base_Column_List" />
				from EQUIMENT where DELETEFLAG = '0'
				<if test="equimentName != null">
						AND EQUIMENT_NAME = #{equimentName,jdbcType=VARCHAR}
				</if>
				<if test="modubusAdress != null">
						AND MODUBUS_ADDRESS = #{modubusAdress,jdbcType=VARCHAR}
				</if>
		</select>
		<insert id="addEntity" parameterType="org.ssm.dufy.entity.EquimentInfo" flushCache="true">
				INSERT INTO EQUIMENT (
				<if test="equimentName !=null">EQUIMENT_NAME,</if>
				<if test="modubusAdress !=null">MODUBUS_ADDRESS</if>
				) VALUES (
				<if test="equimentName !=null">#{equimentName,jdbcType=VARCHAR},</if>
				<if test="modubusAdress !=null">#{modubusAdress,jdbcType=VARCHAR}</if>
				)
		</insert>
		<update id="editEntity" parameterType="org.ssm.dufy.entity.EquimentInfo">
				UPDATE EQUIMENT SET
				<if test="equimentName !=null">EQUIMENT_NAME=#{equimentName,jdbcType=VARCHAR}</if>
				<if test="modubusAdress !=null">,MODUBUS_ADDRESS = #{modubusAdress,jdbcType=VARCHAR}</if>
				<if test="deleteFlag !=null">DELETEFLAG =#{deleteFlag,jdbcType=VARCHAR}</if>
				WHERE ID=#{id,jdbcType=VARCHAR}
		</update>
		<delete id="deleteByNames" parameterType="java.lang.String">
				DELETE FROM EQUIMENT
				<if test="name !=null">WHERE EQUIMENT_NAME=#{equimentName,jdbcType=VARCHAR}</if>
		</delete>
		<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
				select
				<include refid="Base_Column_List" />
				from EQUIMENT where DELETEFLAG = '0'
				and ID = #{id,jdbcType=VARCHAR}
		</select>
		
</mapper>